################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CICD_App/.vs/CICD_App/CopilotIndices/17.14.1641.39856
/CICD_App/.vs/CICD_App/DesignTimeBuild
/CICD_App/.vs/CICD_App/FileContentIndex
/CICD_App/.vs/CICD_App/v17
/CICD_App/CICD_App
/.vs
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/CICD_App/CopilotIndices/17.14.1641.39856
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/CICD_App/DesignTimeBuild
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/ProjectEvaluation
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/CICD_App
/2026_MT_Gerashchenko_A_S_Lab_1/.vs
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/bin/Debug/net8.0
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1/v17
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/obj
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1/CopilotIndices/17.14.1641.39856
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1
/CICD_App/CICD_App/Properties/launchSettings.json
/CICD_App/CICD_App/Properties/launchSettings.json
/CICD_App/CICD_App/Services/IConfigParser.cs
/CICD_App/CICD_App/Services/IPipelineRunner.cs
