################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CICD_App/.vs/CICD_App/CopilotIndices/17.14.1641.39856
/CICD_App/.vs/CICD_App/DesignTimeBuild
/CICD_App/.vs/CICD_App/FileContentIndex
/CICD_App/.vs/CICD_App/v17
/CICD_App/CICD_App
/.vs
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/CICD_App/CopilotIndices/17.14.1641.39856
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/CICD_App/DesignTimeBuild
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/ProjectEvaluation
/2026_MT_Gerashchenko_A_S_Lab_1/.vs/CICD_App
/2026_MT_Gerashchenko_A_S_Lab_1/.vs
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/bin/Debug/net8.0
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1/v17
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/obj
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1/CopilotIndices/17.14.1641.39856
/2026_MT_Gerashchenko_A_S_Lab_1/2026_MT_Gerashchenko_A_S_Lab_1/.vs/2026_MT_Gerashchenko_A_S_Lab_1
/CICD_App/CICD_App/Properties/launchSettings.json
/CICD_App/CICD_App/Properties/launchSettings.json
/CICD_App/CICD_App/Services/IConfigParser.cs
/CICD_App/CICD_App/Services/IPipelineRunner.cs
/2026_MT_Gerashchenko_A_S_Lab_1/obj/Release/net8.0
/2026_MT_Gerashchenko_A_S_Lab_2/obj/Debug/net8.0
/MT_LAB3.MatrixGenerator/.vs
/MT_LAB3.MatrixGenerator/obj
/MT_LAB3.MatrixLib/.vs
/MT_LAB3.MatrixLib/obj
/MT_LAB3.PerformanceTest/.vs/MT_LAB3.PerformanceTest
/MT_LAB3.PerformanceTest/obj
/MT_LAB3.PerformanceTest/.vs/ProjectEvaluation
/2026_MT_Gerashchenko_A_S_Lab_1/obj/Debug/net8.0/2026_MT_Gerashchenko_A_S_Lab_1.AssemblyInfo.cs
/2026_MT_Gerashchenko_A_S_Lab_1/obj/Debug/net8.0/2026_MT_Gerashchenko_A_S_Lab_1.assets.cache
/2026_MT_Gerashchenko_A_S_Lab_1/obj/Debug/net8.0/2026_MT_Gerashchenko_A_S_Lab_1.AssemblyInfoInputs.cache
/2026_MT_Gerashchenko_A_S_Lab_1/obj/Debug/net8.0/2026_MT_Gerashchenko_A_S_Lab_1.GeneratedMSBuildEditorConfig.editorconfig
/2026_MT_Gerashchenko_A_S_Lab_1/obj/2026_MT_Gerashchenko_A_S_Lab_1.csproj.nuget.dgspec.json
/2026_MT_Gerashchenko_A_S_Lab_1/obj/2026_MT_Gerashchenko_A_S_Lab_1.csproj.nuget.g.props
/2026_MT_Gerashchenko_A_S_Lab_1/obj/project.assets.json
/2026_MT_Gerashchenko_A_S_Lab_1/obj/project.nuget.cache
/2026_MT_Gerashchenko_A_S_Lab_2/obj/Release/net8.0
/2026_MT_Gerashchenko_A_S_Lab_2/obj/2026_MT_Gerashchenko_A_S_Lab_2.csproj.nuget.dgspec.json
/2026_MT_Gerashchenko_A_S_Lab_2/obj/2026_MT_Gerashchenko_A_S_Lab_2.csproj.nuget.g.props
/2026_MT_Gerashchenko_A_S_Lab_2/obj/2026_MT_Gerashchenko_A_S_Lab_2.csproj.nuget.g.targets
/2026_MT_Gerashchenko_A_S_Lab_2/obj/project.nuget.cache
/2026_MT_Gerashchenko_A_S_Lab_2/obj/project.assets.json
/2026_MT_Gerashchenko_A_S_Lab_4/bin/Debug/net8.0
/2026_MT_Gerashchenko_A_S_Lab_4/obj
/obj
/MT_LAB3.MatrixGenerator/bin/Debug/net8.0
/MT_LAB3.MatrixLib/bin/Debug/net8.0
